

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to absen page</h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card mt-3 text-bg-success mb-3" style="width: 16rem; height:6rem ;">
                        <div class="card-body">
                          <h4 class="card-title">Tanggal
                            <p id="tanggal"></p>
                          </h4>                                                 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mt-3 text-bg-success mb-3" style="width: 16rem; height:6rem ;">
                        <div class="card-body">
                          <h4 class="card-title">Waktu saat ini
                            <p id="jam"></p>
                          </h4>
                        </div>
                    </div>
                </div>
            </div>

            <% if (msg.length !== 0) { %>
                <div class="alert alert-success" role="alert"> <%= msg %> </div>
            <% } %>

            <div class="row">
                <div class="col col-sm-6">
                    <form method="post" action="/absen" >
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Nama</label>
                          <input type="text" class="form-control" name="name" value="<%= name %>" readonly>
                        </div>


                        <% if (  typeof absen == 'undefined' || absen.jam_masuk == null ) { %>
                            <button type="submit" class="btn btn-primary">Absen Masuk</button>   
                        <% }else if (  absen.jam_keluar == null ){ %> 
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Jam Masuk</label>
                                <input type="text" class="form-control" name="jam_masuk" value="<%= absen.jam_masuk %>" readonly>
                            </div> 
                            <button type="submit" class="btn btn-info">Absen Keluar</button> 
                        <% }else if (  absen.jam_keluar != null ){ %>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Jam Masuk</label>
                                <input type="text" class="form-control" name="jam_masuk" value="<%= absen.jam_masuk %>" readonly>
                            </div> 
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Jam Masuk</label>
                              <input type="text" class="form-control" name="jam_keluar" value="<%= absen.jam_keluar %>" readonly >
                            </div>  
                            <button type="submit" class="btn btn-info">Selesai Absen hari ini</button> 
                        <% } %>
                      
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    waktu();
    tanggal();

	function waktu() {
		var waktu = new Date();
		setTimeout("waktu()", 1000);
        var jam = waktu.getHours() + ":" + waktu.getMinutes() + ":" + waktu.getSeconds()
        document.getElementById("jam").innerHTML = jam;
	}
    function tanggal() {
        var waktu = new Date();
        var year  = waktu.getFullYear();
        var month = waktu.getMonth() + 1;
        var date  = waktu.getDate();
        var tgl   = date + "/" + month + "/" + year;
        document.getElementById("tanggal").innerHTML = tgl;
    }
</script>