<div class="container">
    <div class="row mt-5">
        <div class="col col-sm-6 text-center">
            <% if (cont.image == null) { %>
              <img src="../public/img/gambarPemandangan.jpg" class="rounded-circle" alt="gambarPemandangan" width="300">
            <% }else{ %>
              <img src="../public/upload/<%= cont.image %>" class="rounded-circle" alt="<%= cont.image %>" width="300">
            <% } %>
        </div>
        <div class="col-sm-6">

            <% if (typeof errors !='undefined' ) { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %> </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <% if (msg.length !== 0) { %>
                <div class="alert alert-success" role="alert"> <%= msg %> </div>
            <% } %>

            <form method="post" action="/profil" enctype="multipart/form-data">
                <legend>Form update profil</legend>
                    <div class="mb-2">
                        <input type="text" class="form-control" name="name" value="<%= cont.name %>" hidden>
                    </div>
                    <div class="mb-2">
                      <label class="form-label">Nama</label>
                      <input type="text" class="form-control" name="new_name" value="<%= cont.name %>" readonly>
                    </div>
                    <div class="mb-2">
                      <label class="form-label">Telepon</label>
                      <input type="number" class="form-control" name="phone" value="<%= cont.phone %>">
                    </div>
                    <div class="mb-2">
                      <label class="form-label">NIK</label>
                      <input type="text" class="form-control" name="nik" value="<%= cont.nik %>">
                    </div> 
                    <div>
                        <label class="form-label">Gambar</label>
                        <input type="file" class="form-control" name="image" value="<%= cont.image %>">
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    
            </form>
        </div>
    </div>
</div>