
  <div class="container">
    <h1>Attendance for specifik user</h1>
      <h4>Select user</h4>
        <form method="post" action="/specifik-attendance" >
            <div class="row ">
                <div class="mb-3 col-md-3 mt-2" >    
                    <select class="form-select" aria-label="Default select example" name="name">
                        <% users.forEach(user => { %>  
                            <% if (typeof selected != 'undefined' && selected == user.name) { %>
                                <option selected value="<%=user.name%>"><%=user.name%></option>  
                            <% }else{ %>
                                <option value="<%=user.name%>"><%=user.name%></option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>  
                <div class="col-md-3 mt-2">
                    <button type="submit" class="btn btn-primary d-block"><i class="bi bi-search"></i> Cari</button>
                </div>
            </div> 
        </form>
    <div class="row">
        <div class="col">

            <!-- menampilkan pesan -->
            <% if (msg.length !== 0) { %>
                <div class="alert alert-success" role="alert"> <%= msg %> </div>
            <% } %>

            <% if (msg2.length !== 0) { %>
                <div class="alert alert-warning" role="alert"> <%= msg2 %> </div>
            <% } %>

            <table class="table table-striped table-hover  mt-3">
                <thead class="table-primary">
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>Jam Masuk</th>
                        <th>Jam Keluar</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (cont == null) { %>
                        <tr><td colspan="5"><center><b>Silahkan pilih user terlebih dahulu</b></center></td></tr>  
                    <% }else if (cont.length == 0) { %>
                        <tr><td colspan="5"><center><b>Attendance user ini masih kosong</b></center></td></tr>
                    <% }else{ %>  
                        <% cont.forEach( (con,index) => { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= con.tgl.toLocaleDateString('id-ID') %> </td>
                                <td><%= con.name %> </td>
                                <td><%= con.jam_masuk %> </td>                    
                                <td><%= con.jam_keluar %> </td>                    
                            </tr>
                        <% }) %>
                    <% } %> 
                </tbody>
            </table>
               
        </div>
    </div>
</div>

